*{
  padding: 0;
  margin: 0;
}

.jumbotron{
  height: 700px;
  font-family: 'Mate SC', serif;
  padding-top: 250px !important;
  color: white !important;
  background-image: url(wallpaper2you_180707.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#quote1{
  height: 300px;
  background-image: url(wp3469876-white-background-hd-wallpapers.png);
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#quote1 h1{
  padding-top: 15px ;
  font-family: 'Sacramento', cursive;
  font-size: 50px !important;
  color: black !important;
  padding-left: 20px;
}

#about{
  height:700px;
  padding-top: 30px;
  background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(216253.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#about h1{
  color: white !important;
  font-family: 'Noto Sans', sans-serif;
  font-size: 35px;
  font-weight: bolder;
}

#works{
  height:700px;
  padding-top: 30px;
  background-color: #eeeeee;
}

#works h1{
  color: black;
  font-family: 'Noto Sans', sans-serif;
  font-size: 35px;
  font-weight: bolder;
}

#quote2{
  height: 300px;
  background-image: url(wallpaperbetter.com_3840x2160.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#quote2 h1{
  font-family: 'Sacramento', cursive;
  font-size: 50px !important;
  color: black !important;
  padding-left: 20px;
}

#quote3{
  height: 400px;
  margin: 0 !important;
  background-image: linear-gradient(#eeeeee, #101010);
}

#quote3 p{
  font-family: 'Sacramento', cursive;
  font-size: 50px !important;
  color: black !important;
  padding-left: 20px;
}

.Work_container{
  border: 10px solid white;
  border-radius: 20px;
  height: 400px;
  background-color: black;
}

.Work_container:hover{
  border: 10px solid #3399ff;
  transition-duration: 0.5s;
}

.text_field h1{
  font-size: 50px !important;
  font-family: 'Exo 2', sans-serif;
  color: white !important;

}

.Work_container1{
  border: 10px solid white;
  border-radius: 20px;
  height: 400px;
  background-color: black;
}

.Work_container1:hover{
  border: 10px solid #ff3300;
  transition-duration: 0.5s;
}

.Work_container2{
  border: 10px solid white;
  border-radius: 20px;
  height: 400px;
  background-color: black;
}

.Work_container2:hover{
  border: 10px solid #66ff33;
  transition-duration: 0.5s;
}

.Work_container3{
  border: 10px solid white;
  border-radius: 20px;
  height: 400px;
  background-color: black;

}

.Work_container3:hover{
  border: 10px solid #ff8533;
  transition-duration: 0.5s;
}

.Work_container4{
  border: 10px solid white;
  border-radius: 20px;
  height: 400px;
  background-color: black;
}

.Work_container4:hover{
  border: 10px solid #ffff33;
  transition-duration: 0.5s;
}

#skills{
  height:500px;
  padding-top: 30px;
  background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(2109.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}

#skills h1{
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 35px;
  font-weight: bolder;
}

#contact{
  height:500px;
  padding-top: 30px;
  background-color: black;
}

#contact h1{
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 35px;
  font-weight: bolder;
}

.skill h1{
  font-size: 25px !important;
  font-weight: normal !important;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}

.css{
  display:flex;
  justify-content:center;
  align-items:center;
}

.percent{
	width:120px;
	height:120px;
  padding-left: 0 !important;
}
.percent svg{
	stroke-linecap:round;
}

.middle{
  display: flex;
  justify-content:center;
  align-items:center;
}
.btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30% !important;
  box-shadow: 0 5px 15px -5px #ffffff;
  color: #3498db;
  overflow: hidden;
  position: relative;
  border: 0px;
}
.btn i{
  line-height: 80px !important;
  font-size: 26px !important;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}



@media only screen and (max-device-width: 1024px) {
  #quote1 {
    background-attachment: scroll;
  }
  #about {
    background-attachment: scroll;
  }
  #works{
    background-attachment: scroll;
  }
  #quote2{
    background-attachment: scroll;
  }
  #skills{
    background-attachment: scroll;
  }

}
